/* INIZIO RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO REGOLE GENERALI */
body {
  font-family: "Montserrat";
}
.container {
  width: 70%;
  margin: auto;
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
}

.menu {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* FINE REGOLE GENERALI */

/* INIZIO HEADER */
/* colore del menu relativo alla pagina*/
header nav .menu-site-relative {
  background-color: #f4f9fd;
  height: 80px;
}

header nav .menu-page-relative {
  height: 80px;
}

/* Inizio regole generali nav */
header nav .col {
  width: 50%;
}
header nav .col-menu-right {
  text-align: right;
}

header nav .menu li {
  display: inline-block;
  color: #3b4e61;
  padding: 0px 10px;
  line-height: 80px;
}

header nav .menu li:first-child {
  padding-left: 0px;
}

header nav .menu li:last-child {
  padding-right: 0px;
}

/******* DA SISTEMARE IL BORDO  ******/
header nav .menu #lenguage {
  border-left: 1px solid #3b4e61;
}
/******* DA SISTEMARE IL BORDO  ******/

header nav .menu li a {
  color: #33475b;
}

/* Inizio menu cerca,login e free Hubspot */
header nav .menu #search {
  color: #25b0c6;
}

header nav .menu #login {
  color: #fe775a;
  background: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
  padding: 10px;
}

header nav .menu .free-button {
  color: white;
  background: #fe775a;
  border-radius: 5px;
  padding: 10px;
}
/* Fine menu cerca, login e free Hubspot */

header hr {
  color: #33475b;
}

header nav #logo {
  line-height: 80px;
}
/* FINE HEADER */
