/* INIZIO RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO REGOLE GENERALI */
body {
  font-family: "Montserrat", sans-serif;
  color: #33475b;
  line-height: 1.5;
}
.container {
  width: 70%;
  margin: auto;
  height: 100%;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
}
.menu {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.cta {
  color: white;
  background: #fe775a;
  border-radius: 5px;
  padding: 20px 30px;
}
/* FINE REGOLE GENERALI */

/* INIZIO BOX CHAT */
.chat {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: #fff1ee;
  text-align: right;
  padding-right: 15px;
}
.chat p {
  width: 85%;
  position: absolute;
  right: 25px;
  top: 30px;
  text-align: left;
}
.chat i {
  color: white;
  font-size: 200px;
}
.chat #icon-chat {
  font-size: 30px;
  background:  #33475b;
  border-radius: 50%;
  padding: 20px;
}
.contenitore {
  background: yellow;
}
/* FINE BOX CHAT */

/* INIZIO HEADER */
/* Regole generali nav */
header nav .col {
  width: 50%;
}
header nav .col-menu-right {
  text-align: right;
}
header nav .menu li {
  display: inline-block;
  padding: 0px 10px;
  line-height: 80px;
}
header nav .menu li:first-child {
  padding-left: 0px;
}
header nav .menu li:last-child {
  padding-right: 0px;
}
/* Fine regole generali nav */

/* Inizio menu navigazione relativi al sito */
header nav .menu-site-relative {
  background-color: #f4f9fd;
  height: 80px;
  border-bottom: 1px solid #33475b;
}
/* Inizio menu lingua e contatti */
header nav .menu #contacts {
  border-left: 1px solid #33475b;
  padding-left: 20px;
}
header nav .menu li a {
  color: #33475b;
}
/* Fine menu lingua e contatti */

/* Inizio menu cerca,login e free Hubspot */
header nav .menu #search {
  color: #25b0c6;
}
header nav .menu #login {
  color: #fe775a;
  background: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
  padding: 10px;
}
header nav .menu .cta {
  padding: 10px;
  color: white;
}
/* Fine menu cerca, login e free Hubspot */
/* Fine menu navigazione relativi al sito */

/* Inizio menu navigazione relativi alle pagine del sito */
header nav .menu-page-relative {
  height: 80px;
}
header nav #logo {
  line-height: 80px;
}
/* Fine menu navigazione relativi alle pagine del sito */

/* Inizio teaser */
header .background-teaser {
  height: 650px;
  background-image: url("../img/jumbotron.png");
  background-color: #fff1ee;
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 3px solid #33475b;
}
header .teaser {
  width: 50%;
  padding-top: 80px;
}
header .teaser .cta {
  display: inline-block;
}
header .teaser > * {
  margin-bottom: 25px;
}
header .teaser p:last-child {
  margin-bottom: 0px;
}
/* Fine teaser */

/* Inizio riga azzuarra fine dell'header */
header {
  position: relative;
}
header .background-teaser::before {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 56px;
  background-color: #afebe4;
  border-bottom: 3px solid #33475b;
  border-top: 3px solid #33475b
}
/* Fine riga azzuarra fine dell'header */
/* FINE HEADER */

/* INIZIO MAIN */
/* Inizio sezione servizi */
main .services {
  background-color: #f4f9fd;
  padding-bottom: 50px;
}
/* Inizio blocco description */
main .services .description {
  text-align: center;
  padding: 50px 70px;
}
main .services .description img {
  height: 200px;
}
main .services .description h2 {
  margin-bottom: 25px;
}
/* Fine blocco description */

/* Regole generali blocchi servizi */
main .services .col {
  background: white;
  padding: 50px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
}
main .services .col img {
  height: 100px;
  margin-bottom: 25px;
}
main .services .col p {
  margin: 10px 0px;
}
main .services .col hr {
  margin: 10px 10px;
  border: 1px solid #33475b;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
main .services .col h4 {
  text-transform: uppercase;
  display: inline-block;
}
main .services .col ul li {
  list-style-type: none;
  display: inline-block;
  margin-top: 10px;
}
main .services .col ul li i {
  color: #fe775a;
}
/* Fine regole generali blocchi servizi */

/* Inizio blocco CRM */
main .services .crm {
  background: white;
}
main .services .crm .col-right {
  width: 65%;
  text-align: left;
}
main .services .crm .col ul li:nth-child(2) {
  margin: 0px 20px;
}
/* Fine blocco CRM */

/* Inizio blocchi servizi no CRM */
main .services .no-crm {
  margin-top: 50px;
}
main .services .no-crm .col-center {
  margin: 0px 5%;
}
main .services .no-crm .col ul {
  text-align: left;
  margin-bottom: 50px;
}
/* Fine blocci servizi no CRM */
/* Fine sezione servizi */

/* Inzio sezione network */
main .network {
  background: #00abb6;
  color: white;
  text-align: center;
}
main .network .container > * {
  padding: 20px 0px;
}
main .network .container h2 {
  width: 90%;
  margin: 0px auto;
}
main .network .container .network-number .col {
  width: 25%;
  padding: 10px;
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
main .network .container .network-number .col:nth-child(4n+0) {
border-right: 0px;
}
main .network .container .network-number .col:nth-child(1n+5) {
border-bottom: 0px;
}
main .network .container .network-number img {
  height: 30px;
}
main .network .container .network-number .big-number {
  font-size: 30px;
  font-weight: bold;
}
/* Fine sezione network */

/* Inizio sezione partners */
/* Inizio regole generali  */
main .partners .col-left {
  width: 40%;
  padding: 25px 100px;
}
main .partners .col-right {
  width: 50%;
  padding: 30px 0px;
}
/* Fine regole generali  */

/* Inizio exhibion partners */
main .partners .exhibit .col-left .big-number {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
main .partners .exhibit .col-right .col {
  width: 25%;
  line-height: 60px;
  height: 60px;
  padding: 0px 10px;
  text-align: center;
}
main .partners .exhibit .col-right .col img {
  width: 100%;
  vertical-align: middle;
}
/* Fine exhibion partners */

/* Inizio spot partners */
main .partners .spot .col-left {
  padding: 25px 0px;
}
main .partners .spot .col-left .teaser {
  width: 100%;
}
main .partners .spot .col-left .teaser .cta {
  display: inline-block;
}
main .partners .spot .col-left .teaser > * {
  margin-bottom: 25px;
}
main .partners .spot .col-left .teaser p:last-child {
  margin-bottom: 0px;
}
main .partners .spot .col-right {
  padding: 0px;
  text-align: right;
}
main .partners .spot .col-right img {
  height: 350px;
}
/* Fine spot partners */
/* Fine sezione partners */
/* FINE MAIN */

/* INIZIO FOOTER */
/* Inizio menu di navigazione del footer */
footer {
  background: #33475b;
  color: white;
}
footer nav .col {
  width: 25%;
  padding-left: 25px;
}
footer nav .col h4 {
  padding: 25px 0px;
}
footer nav .col .menu li {
  padding: 5px 0px;
}
footer nav .col .menu li a {
  color: white;
}
/* Ultima colonna del menu di navigazione del footer */
footer nav .col .menu .cta {
  color: #33475b;
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}
footer nav .col .menu .widget a {
  padding-top: 15px;
  padding-right: 25px;
}
footer nav .col .menu .widget a:last-child {
  padding-right: 0px;
}
/* Fine menu di navigazione del footer */

/* Inizio menu lingue del footer */
footer .language {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 25px;
}
footer .language a {
  color: white;
  padding-right: 25px;
}
footer .language a:last-child {
  padding-right: 0px;
}
/* Fine menu lingue del footer */

/* Inizio menu credits del footer */
footer .credits {
  padding: 50px 0px;
}
footer .credits .col-left {
  width: 50%;
}
footer .credits .col-right  {
  width: 50%;
  text-align: right;
}
footer .credits .col-right a {
  color: white;
  padding-right: 25px;
}
footer .credits .col-right a:last-child {
  padding-right: 0px;
}
/* Fine menu credits del footer  */
/* FINE FOOTER */
